.bac {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
    align-items: right;
   
    display: inline;
    float: right;
  }
  
  a ::hover {
    background: #fff;
    color: #000;
  } 
  .a{
    font-size: 16px;
  }
  .app h2{
    align-items: center;
    padding-top: 5px;
   text-align: center;
    margin-top: 50px;
    color: black;
    font-family: Georgia, serif;
   font-size: 36px;
  }
  .a{
      font-size: 20px;
  }
  